{% extends 'base.html' %}

{% block title %} Maktab CRM - Guruhlar ro'yxati {% endblock %}

{% block content %}
    <main>
        <h1>Guruhlar ro'yxati</h1>
        <div class="actions">
            <a href="{% url 'groups:create' %}" class="btn"><i class="fas fa-plus"></i> Yangi guruh qo'shish</a>
            <input type="text" id="searchGroup" placeholder="Guruh qidirish" class="search-input">
        </div>
        {% if groups %}
            <table id="groupsTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Guruh nomi</th>
                        <th>O'quvchilar soni</th>
                        <th>Sinf rahbari</th>
                        <th>Amallar</th>
                    </tr>
                </thead>
                {% for group in groups %}
                    <tbody>
                        <tr>
                            <td>{{ group.id }}</td>
                            <td>{{ group.name }}</td>
                            <td>{{students_count}}</td>
                            <td>{{ group.teacher }}</td>
                            <td>
                                <a href="{{ group.get_detail_url }}" class="btn btn-sm"><i class="fas fa-eye"></i> Ko'rish</a>
                                <a href="{{ group.get_update_url }}" class="btn btn-sm"><i class="fas fa-edit"></i> Tahrirlash</a>
                                <a href="{{ group.get_delete_url }}" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> O'chirish</a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div class="pagination">
                <a href="#" class="btn btn-secondary"><i class="fas fa-chevron-left"></i> Oldingi</a>
                <span>1</span>
                <a href="#" class="btn btn-secondary">Keyingi <i class="fas fa-chevron-right"></i></a>
            </div>
        {% else %}
             <h3 style="color: blue; text-align: center; margin-top: 10px;">No Groups</h3>
        {% endif %}
    </main>
{% endblock %}
